<%= stylesheet_pack_tag 'categories/show', media: 'all' %>
<%= javascript_pack_tag 'categories/show', nonce: true %>

<%# <h1> <%= @category.name %></h1>
<%# <h1> <%= @category.description %></h1>

<div>
  <div class="sm:hidden px-3">
    <select aria-label="Selected tab" class="mt-1 form-select block w-full pl-3 pr-10 py-2 text-base leading-6 border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5 transition ease-in-out duration-150">
      <% Category.all.map do |c| %>
        <% if current_page?(category_path(c)) %>
          <option selected>
            <%= c.name %></option>
        <% else %>
          <option>
            <%= c.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="hidden sm:block border-b border-gray-900">
    <div class="max-w-5xl mx-auto px-3 md:px-4">
      <nav class="-mb-px flex">
        <% Category.all.map do |c| %>
          <% class_name = current_page?(category_path(c)) ? 'py-4 px-4 border-b-3 border-indigo-500 font-medium text-sm leading-5 text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700' : 'py-4 px-4 border-b-3 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-400 hover:border-gray-800 focus:outline-none focus:text-gray-700 focus:border-indigo-500' %>
          <%= link_to c.name, category_path(c), class: "whitespace-no-wrap text-center #{class_name}" %>
        <% end %>
      </nav>
    </div>
  </div>
</div>
<div class="max-w-5xl mx-auto px-3 md:px-4">
  <div class="flex -mx-3 md:-mx-4 flex-wrap">
    <% @category.poems.map do |poem| %>
      <a href=<%= poem_path(poem) %> class="w-full md:w-1/2 px-3 md:px-4">
      <span class="mt-8 block">
        <div class="relative earangu-show__poem-card-thumbnail-container">
          <% if poem.cover_image.present? %>
            <img src=<%= url_for(poem.cover_image) %> alt="" class="earangu-show__poem-card-thumbnail absolute h-full w-full object-cover"/>
          <% else %>
              <img class="earangu-show__poem-card-thumbnail absolute h-full w-full object-cover" src="https://earangu-static.s3.ap-south-1.amazonaws.com/earangu-default-dp.png" alt="Earangu">
          <% end %>
        </div>
          <span class="earangu-show__poem-card-title-bar block shadow-lg rounded-b-lg px-3 md:px-6 pt-3 md:pt-4 pb-5 md:pb-6 mx-3 md:mx-4">
            <h2 class="font-bold text-lg md:text-2xl text-white leading-snug"><%= poem.title %></h2>
            <p class="text-white text-sm md:text-base leading-snug mt-1">
            <%= poem.poet.name %>
            </p>
          </span>
        </span>
      </a>
    <% end %>
  </div>
</div>
