<% presenter = ::Layouts::ApplicationPresenter.new(self) %>

<!DOCTYPE html>
<html lang='en' data-flash="<%= presenter.flash_messages %>">
  <head>
    <title>Earangu</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Earangu"/>
    <meta property="og:description" content="Earangu"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Scripts -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-env="<%= Rails.env %>">
  <section class="min-h-full flex flex-col items-stretch">
    <%#= yield :nav %>
    <main class="flex-grow bg-darker">
        <%= yield %>
    </main>
    <%#= yield :footer %>
  </section>
  </body>
</html>
